<!doctype html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Debug Politics" %></title>

    <meta name="description" content="Debug Politics is a hackathon for anyone dissatisfied with the 2016 election cycle. Transform your dissatisfaction into a unique idea. Let's use our talents as developers, designers, and technologists to find innovative ways to make a real difference.">

    <meta name="og:image" content="/images/flag_720.png">
    <meta name="twitter:image" content="/images/flag_720.png">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="/images/favicon.ico">

    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "debug" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "partials/header" %>

    <%= yield %>

    <%= partial "partials/footer" %>

    <%= partial "partials/google_analytics" %>
  </body>
</html>
