<%
luminary_list = [

]
%>
<div class="container">
  <%= partial "partials/tech_plus_header", locals: {title: "Luminaries"} %>
  <%= partial "partials/luminary_grid", locals: { luminaries: data.luminaries.images } %>
  <%= partial "partials/more_about_tech_plus", locals: { current_page: "luminaries" } %>
  <!-- <%= partial "partials/apply_button" %> -->
  <%= partial "partials/partners_and_sponsors" %>
</div>
