<% require 'date' %>
<%
  today = Date.today()
  unexpired = []
  data.events.events.each do |event|
    endDate = Date.parse(event[:ends])
    if endDate >= today
      unexpired.push(event)
    end
  end

  unexpired = [unexpired[0]] if only_last and unexpired.length > 0
%>

<div class="container" id="upcoming-events">
  <% if unexpired.length > 0 %>
    <h2 class="underlined-heading">Events</h2>
    <% unexpired.each do |event| %>
      <div class="dp-event" id="<%= event[:id] %>-event">
        <p class="event-date"><%= event[:date] %></p>
        <p class="event-name"><%= event[:location] %></p>
        <% if event[:href] %>
        <p><a href="<%= event[:href] %>" class="btn btn-secondary"><%= event[:status] %></a></p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<!-- RSVP -->
